.DS_Store
fgvc/CUB_200_2011/
fgvc/FGVC/
fgvc/__pycache__/
fgvc/datasets/__pycache__/
fgvc/models/__pycache__/
fgvc/Bird/
fgvc/Resnet_9_epochs/
fgvc/adversarial_img/
fgvc/aircraft_visual/
fgvc/resnet_tl/